.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(chair-1.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(chair-2.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(chair-3.jpg);
}
/* #myCarousel {
  width: 1000;
  height: auto;
} */
